[submodule "src/github.com/markcheno/go-quote"]
	path = src/github.com/markcheno/go-quote
	url = https://github.com/markcheno/go-quote.git
[submodule "src/github.com/d4l3k/talib"]
	path = src/github.com/d4l3k/talib
	url = https://github.com/d4l3k/talib.git
[submodule "src/github.com/robfig/cron"]
	path = src/github.com/robfig/cron
	url = https://github.com/robfig/cron.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/github.com/Shopify/sarama"]
	path = src/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama.git
[submodule "src/github.com/davecgh/go-spew"]
	path = src/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew.git
[submodule "src/github.com/eapache/go-resiliency"]
	path = src/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency.git
[submodule "src/github.com/eapache/go-xerial-snappy"]
	path = src/github.com/eapache/go-xerial-snappy
	url = https://github.com/eapache/go-xerial-snappy.git
[submodule "src/github.com/eapache/queue"]
	path = src/github.com/eapache/queue
	url = https://github.com/eapache/queue.git
[submodule "src/github.com/golang/snappy"]
	path = src/github.com/golang/snappy
	url = https://github.com/golang/snappy.git
[submodule "src/github.com/klauspost/crc32"]
	path = src/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32.git
[submodule "src/github.com/rcrowley/go-metrics"]
	path = src/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics.git
