
[submodule "src/github.com/markcheno/go-quote"]
	path = src/github.com/markcheno/go-quote
	url = https://github.com/markcheno/go-quote.git
[submodule "src/github.com/d4l3k/talib"]
	path = src/github.com/d4l3k/talib
	url = https://github.com/d4l3k/talib.git
[submodule "src/github.com/robfig/cron"]
	path = src/github.com/robfig/cron
	url = https://github.com/robfig/cron.git
